.speak-customer-head {
    margin: 10% 0 0 0;
    background-color: #c6ece5;
    padding-top: 60px;
    padding-bottom: 8%;

}

.speak-customer-head h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 30px;
}

.speak-customer-head p {
    padding-bottom: 30px;
}

.container-customer {
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
}

.text-costomer {
    line-height: 29px;
    font-size: 15px;
}

.position {
    margin-top: -39px;
    margin-bottom: -39px;
}

.new-one {
    border: 5px solid #10b798;
}

.img_sc {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.img_sc:hover {
    /* box-shadow: 0px 0px 11px #5447a8; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


/* Blog section */

.content-blog {
    width: 85%;
    margin: 0 auto;
}

.blog-cust {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.file-img {
    margin-top: 20px;
    width: 50%;
    height: 39vh;
    border-radius: 50%;
}

.text-cstomer {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #151e1c;
}

.budget-head {
    margin: 50px 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.budget-head img {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
}



.second-row {
    margin-top: -35px !important;
}